<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{ loadedSiniestro.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <h2> Lista de materiales para este desastre </h2>
            <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
                <ion-item *ngFor="let ig of loadedSiniestro.mochila">
                    <ion-icon name="radio-button-off" slot="start"></ion-icon>
                    <ion-label> {{ ig }} </ion-label>
                    <ion-reorder></ion-reorder>
                </ion-item>
            </ion-reorder-group>
        </ion-col>
    </ion-row>

    <!--
    <ion-row >
        <ion-col>
            <h2> Recomendaciones </h2>
                <ion-item *ngFor="let ig of loadedSiniestro.mochila">
                    <ion-icon name="radio-button-off" slot="start"></ion-icon>
                    <ion-label> {{ ig }} </ion-label>
                    <ion-reorder></ion-reorder>
                </ion-item>
        </ion-col>
    </ion-row> -->

</ion-content>