<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contactos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Policia</ion-label>
            <ion-button fill="outline" slot="end">Seguridad</ion-button>
        </ion-item>

        <ion-card-content>
            Puedes llamar a la policia en casos de:
            <ul>
                <li>Emergencia</li>
                <li>Soccoro</li>
                <li>Vandalismo</li>
            </ul>
        </ion-card-content>

        <ion-item class="activated" href="tel:+066" color="secondary">
            <ion-label>Marcar</ion-label>
            <ion-label>066</ion-label>
            <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="help-buoy" slot="start"></ion-icon>
            <ion-label>Protección civil</ion-label>
            <ion-button fill="outline" slot="end">Seguridad</ion-button>
        </ion-item>

        <ion-card-content>
            Puedes llamar a protección civil en casos de:
            <ul>
                <li>Emergencia</li>
                <li>Soccoro</li>
                <li>Extracción</li>
            </ul>
        </ion-card-content>

        <ion-item class="activated" href="tel:+066" color="secondary">
            <ion-label>Marcar</ion-label>
            <ion-label>066</ion-label>
            <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="flame" slot="start"></ion-icon>
            <ion-label>Bomberos</ion-label>
            <ion-button fill="outline" slot="end">Contigencia</ion-button>
        </ion-item>

        <ion-card-content>
            Puedes llamar a los bomberos en casos de:
            <ul>
                <li>Incendio</li>
                <li>Quema de basura</li>
                <li>Extracción</li>
            </ul>
        </ion-card-content>

        <ion-item class="activated" href="tel:+6688132238" color="secondary">
            <ion-label>Marcar</ion-label>
            <ion-label>6688 13 22 38</ion-label>
            <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>